.hero {
  min-height: 100vh;
  background: url("./assets/images/banner.jpg") no-repeat center;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
}

.container {
  margin: 10px 10px;
}
.container_1 {
  margin-top: 90px;
  margin-left: 50px;
}

.hero div h1 {
  font-weight: 700;
}

.btn {
  background-color: #dc143c;
}

.hero_btn {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
}
.navbar {
  background-color: #dc143c;
}

.navbar-brand,
.navbar-nav .nav-link {
  color: white;
}

/* title */
.title {
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.title span {
  padding: 0 1rem;
  border-bottom: 0.4rem solid rgb(220, 20, 60);
}

/* icons */
.icons {
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.icons i {
  font-size: 5rem;
}

.icons div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.text-1 {
  font-size: 27px;
}
.text-2 {
  font-size: 100px;
  font-weight: 800;
  margin-left: -3px;
}
.text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.text-3 span {
  color: rgb(220, 20, 60);
  font-weight: 500;
  display: "inline-block";
}
.typewriter-span {
  display: inline-block;
}

/* Project section */
.projects {
  background: rgba(231, 213, 118, 0.41);
}

/* contact me section */
.contact {
  background: rgba(93, 203, 54, 0.62);
}

/* up button  */
.goup {
  position: fixed;
  bottom: 125px;
  right: 20px;
}

/* Contact */
.contact-page {
  display: flex;
  gap: 100px;
  max-width: 600px;
  margin: 10px auto;
  padding: 30px;
}

.contact-info div {
  margin: auto;
}
form {
  display: grid;
  gap: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: rgb(220, 20, 60);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.fa-react {
  color: #299bca;
}

#contact {
  padding: 50px;
}
.icon-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.icon-container a {
  flex: 1;
  text-align: center;
}

/* Swiper */
.swiper {
  width: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 50px;
  height: 50px;
}

.swiper-slide img {
  display: block;
  width: 80%;
}
