.hero {
  min-height: 100vh;
  background: url("./assets/images/banner.jpg") no-repeat center;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
}

.container {
  margin: 10px;
}
.container_1 {
  margin-top: 90px;
  margin-left: 50px;
}

.hero div h1 {
  font-weight: 700;
}

.btn {
  background-color: #dc143c;
}

.hero_btn {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
}
.navbar {
  background-color: #dc143c;
  font-size: 1.1rem;
}

.navbar-brand,
.navbar-nav .nav-link {
  color: white;
}

/* title */
.title {
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.title span {
  padding: 0 1rem;
  border-bottom: 0.4rem solid rgb(220, 20, 60);
}

/* icons */
.icons {
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.icons i {
  font-size: 5rem;
}

.icons div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.text-1 {
  font-size: 27px;
}
.text-2 {
  font-size: 100px;
  font-weight: 800;
  margin-left: -3px;
}
.text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.text-3 span {
  color: rgb(220, 20, 60);
  font-weight: 500;
  display: "inline-block";
}
.typewriter-span {
  display: inline-block;
}

/* Project section */
.projects {
  background: rgba(231, 213, 118, 0.41);
}

/* contact me section */
.contact {
  background: rgba(93, 203, 54, 0.62);
}

/* up button  */
.goup {
  position: fixed;
  bottom: 125px;
  right: 20px;
}

/* Contact */
.contact-page {
  display: flex;
  gap: 100px;
  max-width: 600px;
  margin: 10px auto;
  padding: 30px;
}

.contact-info div {
  margin: auto;
}
form {
  display: grid;
  gap: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: rgb(220, 20, 60);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.fa-react {
  color: #299bca;
}

#contact {
  padding: 50px;
}
.icon-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.icon-container a {
  flex: 1;
  text-align: center;
}

/* Swiper */
.swiper {
  width: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 50px;
  height: 50px;
}

.swiper-slide img {
  display: block;
  width: 80%;
}

/* Cards */
.card {
  border: 1px solid #c40a0a;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 16px;
  padding: 16px;
  transition: box-shadow 0.3s ease;
  background-color: transparent;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #da1919;
  color: #ffffff;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 16px;
}

.card-body {
  text-align: center;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #000000; /* Initial font color as black */
  transition: color 0.3s ease; /* Adding transition for font color */
}

.card-description {
  font-size: 14px;
  color: #000000; /* Initial font color as black */
  transition: color 0.3s ease; /* Adding transition for font color */
}

.card:hover .card-title,
.card:hover .card-description {
  color: #ffffff; /* Changing font color to white on hover */
}

/* Responsive styles */
@media (min-width: 768px) {
  .card {
    max-width: 400px;
  }
}

.Education_Section {
  background: #111;
  margin: 0;
  padding: 1px 3px 50px 3px;
  text-align: center;
}

.Education_Section h2 {
  color: #fff;
}

.education .card {
  text-align: center;
  border-radius: 6px;
  padding: 50px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.fa,
.fas {
  font-size: 50px;
}

/*  Preloader */
/* --------- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #0c0513;
  background-image: url(./assets/images/pre.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
}

.icon-container {
  transition: transform 0.3s ease;
}
.icon-container:hover {
  transform: scale(1.1);
}
